{{#each favouriteSpots}}
<div id="list_spots">
     <a href="/spot/{{_id}}" id="spotDetails">{{name}}</a>
    <div id="description">{{description}}</div>
    
    <div class="scroll-container">
    {{#each images.imagesUrl}}
     <div class="scroll-page"> <img id="spot" src= "{{this}}"/> </div>
    {{/each}}
    </div>

    <h3>{{coordinates}}</h3>
    {{#if amenities.Webpage}}
        <h3>Webpage</h3>
    {{/if}}
    <h2>AMENITIES :</h2>

    {{#if amenities.Trash_can}}
    <h3>Trash can</h3>
    {{/if}}
     {{#if amenities.Shower}}
    <h3>Shower</h3>
    {{/if}}
     {{#if amenities.Toilet}}
    <h3>Toilet</h3>
    {{/if}}
     {{#if amenities.Drinking_water}}
    <h3>Drinking water</h3>
    {{/if}}
     {{#if amenities.Electricity}}
    <h3>Electricity</h3>
    {{/if}}
    
</div>
{{/each}}
