<div id="spot-details">
  <div class="scroll-container">
    {{#each images.imagesUrl}}
     <div class="scroll-page"> <img id="spot" src= "{{this}}"/> </div>
    {{/each}}
</div>
    <div id="name-rating">
        <h3>{{name}}</h3>
        <div id="rating">{{rating}} / 10</div>
    </div>    
    <div id="description">{{description}}</div>
    
    <div id="coordinates-province">
        <h3>{{province}}</h3>
        <h3>{{coordinates}}</h3>
    </div>

    <div id="css-amenities">
        <h9>AMENITIES </h9>

        <div class="amenities-iconos">
            {{#if amenities.Trash_can}}
            <img src="/images/bin.png" id="logo_amenities"/>
            {{/if}}
            {{#if amenities.Shower}}
            <img src="/images/shower.png" id="logo_amenities"/>
            {{/if}}
            {{#if amenities.Toilet}}
            <img src="/images/toilet.png" id="logo_amenities"/>
            {{/if}}
            {{#if amenities.Drinking_water}}
            <img src="/images/water-tap.png" id="logo_amenities"/>
            {{/if}}
            {{#if amenities.Electricity}}
            <img src="/images/energy.png" id="logo_amenities"/>
            {{/if}}
            {{#if amenities.BBQ}}
            <img src="/images/barbecue.png" id="logo_amenities"/>
            {{/if}}
        </div>
    </div>
  
    {{#unless amenities}}
        <h3>No amenities known in this spot</h3>
    {{/unless}}


    {{#each comments}}
        <p4>{{this.description}}</p4>
        <p3>By: {{this.author.fullName}}</p3>
       
        <a href="/addLike/{{this._id}}"><img id="symbol" src="/images/like.png"/></a>
        <div id="number_likes">{{this.commentLike.length}} likes</div>
       
     <hr style="width: 70%;">
    {{/each}}

        <form action="/{{_id}}/saveFavouriteSpot" method="POST" >
            <button id="favourite" type="submit">
                {{#if isUserFavourite}}
                    Remove 
                {{else}}
                    Add 
                {{/if}}
                favourite

            </button>
        </form>

    <hr style="width: 70%;">


    <div id="box-comment">
        {{#each comments}}
            <div class="each-comment">
                <p4>{{this.description}}</p4>
                <p3>By: {{this.author.fullName}}</p3>
            </div>  
            <hr style="width: 70%;">    
        {{/each}}
    </div>
    


<button id="button_2"><a href="/addComment/{{_id}}">Add a new comment</a>
</button>
   
</div>


